<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper class="com.xia.test.mapper.TestMapper" />

		<mapper class="com.xia.test.dao.impl.TestDao" />
	</mappers>
</configuration>